@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/** Estilizações gerais **/
body {
    overflow-x: hidden;
    background-color: #222;
    color: #fff;
}

main {
    padding-bottom: 20px;
}

/*! Scroll !*/

/* Estilo para o container principal */
body {
    scrollbar-width: thin;
    scrollbar-color: #FF2E00 #222;
}

/* Barra de rolagem */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #222;
}

::-webkit-scrollbar-thumb {
    background-color: #b32100;
    border-radius: 8px;
    border: 2px solid #222;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #b32100;
}

/** Header **/

.top {
    position: relative;
    height: 100vh;
    background: radial-gradient(circle, #2F323A 30%, #222 70%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 120px;
    white-space: nowrap;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    z-index: 2;
}

.imgPessoa {
    position: absolute;
    bottom: 0px;
    width: 850px;
    z-index: 1;
}

/** Menu básico **/
:root {
    --primary-color: #FF2E00;
    --background-color: #121619;
    --menu-overlay: rgba(0, 0, 0, 0.842);
    --text-color: white;
    --font-family: 'Montserrat', sans-serif;
    --hamburger-size: 30px;
}

.navbar {
    width: 100%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: var(--background-color);
    border-bottom: 2px solid var(--primary-color);
}

/* Ocultar a navegação inicialmente */
.nav-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--menu-overlay);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: 9;
}

/* Estilo da lista de navegação */
.nav-links ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

/* Estilo dos itens de navegação */
.nav-links ul li {
    margin: 20px 0;
}

/* Estilo dos links */
.nav-links ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 35px;
    font-family: var(--font-family);
}

/* Estilizar o ícone de hambúrguer */
.hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 11;
    margin: 10px;
}

/* Estilo das barras do hambúrguer */
.hamburger span {
    width: var(--hamburger-size);
    height: 3px;
    background-color: var(--text-color);
    transition: transform 0.3s, opacity 0.3s;
}

/* Quando o menu é ativado */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
}

/* Quando o menu de navegação está ativo */
.nav-links.active {
    transform: translateY(0);
}

/** Breve descrição **/
.descricao {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 20px 50px;
    gap: 30px;
}

.alinhamento-descricao {
    position: absolute;
    left: 80px;
    max-width: 600px;
    font-family: 'Source Code Pro', monospace;
}

/* Linha com animação de digitação */
.line {
    font-family: 'Source code pro';
    border-right: 2px solid #FF2E00;
    color: #bbbbbb;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
}

/* Animações das linhas */
.typing-animation {
    animation: typing 3s steps(40) 1s normal both, blinkCursor 500ms steps(40) infinite, disappearCursor 1s 3s forwards;
}

.typing-animation.delay {
    animation: typing2 2s steps(20) 1s normal both, blinkCursor 500ms steps(20) infinite, disappearCursor 1s 3s forwards;
    animation-delay: 4s;
    border-right: 2px solid transparent;
}

/* Card de localização */
.location-card {
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    background-color: #121619;
    color: white;
    padding: 15px 20px;
    border-radius: 60px 0 0 60px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.location-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.location-content i {
    font-size: 1.5rem;
    color: #121619;
    background-color: #e4e4e4;
    padding: 10px;
    border-radius: 50%;
    animation: swing 1.5s ease-in-out infinite;
}

.location-content p {
    font-size: 18px;
    color: #e4e4e4;
}

/* Animações */
@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 19em;
    }
}

@keyframes typing2 {
    from {
        width: 0;
    }

    to {
        width: 16em;
    }
}

@keyframes blinkCursorEnd {

    0%,
    99% {
        border-right-color: #FF2E00;
    }

    100% {
        border-right-color: transparent;
    }
}

/* Animação para desaparecer o cursor após a digitação */
@keyframes disappearCursor {

    0%,
    99% {
        border-right-color: #FF2E00;
    }

    100% {
        border-right-color: transparent;
    }
}


@keyframes swing {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


/** section about **/
.about-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.informacoes,
.informacoes2 {
    display: flex;
    text-align: justify;
    justify-content: space-between;
    line-height: 1.4;
    font-family: 'Raleway';
    margin-top: 50px;
    background-color: #121619;
    border-radius: 30px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.informacoes i {
    padding-right: 10px;
    color: #FF2E00;
}

.informacoes {
    font-size: 28px;
    padding: 28px;
}

.informacoes2 {
    font-size: 22px;
    padding: 20px;
    flex-direction: column;
}

.seta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icone-seta {
    font-size: 24px;
    color: #FF2E00;
    display: inline-block;
    transition: transform 0.3s ease;
}

.icone-seta:hover {
    transform: translateY(5px);
    /* Move a seta levemente para baixo ao passar o mouse */
}

.about {
    display: flex;
    gap: 15px;
    padding: auto;
}

/** section Projetos **/

/*! Este título foi adaptado de Daniel Riemer !*/
.titulo-animado {
    text-transform: uppercase;
    letter-spacing: .5em;
    display: inline-block;
    padding: 1.5em 0;
    position: relative;
    width: fit-content;
    margin: 0 auto;

    span {
        font: 28px "Montserrat";
        font-weight: bold;
        letter-spacing: 0;
        padding: .25em 0 .325em;
        display: block;

        background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-animation: aitf 80s linear infinite;

        /* Ativando aceleração por hardware */
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
    }
}

/* Animação do título */
@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

/*!--------!*/

.projects-section {
    text-align: center;
    padding: 50px 0 100px;
}

.project-item {
    position: relative;
    font-family: 'Raleway', sans-serif;
    padding: 80px;
    cursor: pointer;
    overflow: hidden;
    height: 200px;
    box-sizing: border-box;
}

.project-title {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Raleway';
    z-index: 2;
    position: relative;
}

.project-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.project-item:hover .project-overlay {
    opacity: 1;
}

.project-image,
.view-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    will-change: transform, top, left;
    transition: transform 0.3s ease;
}

.project-image {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.view-button {
    position: relative;
    transform: translate(-50%, -50%);
    text-decoration: none;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    background-color: #FF2E00;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    height: 1px;
    width: 100%;
    background-color: #121619;
}

.lugarBtn {
    margin-top: 80px;
}

.btnMais {
    text-decoration: none;
    color: #fff;
    padding: 12px 20px;
    background-color: #FF2E00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Raleway';
}

.btnMais:hover {
    background-color: #b32100;
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}


/** Experiencias section **/

.experiences-section {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.experiences-section h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    font-family: 'Raleway';
}

.experiences-section h2::after {
    content: '!';
    color: #FF2E00;
    font-weight: bold;
}

#description {
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
    font-family: 'Montserrat';
    transition: opacity 0.3s;
}

.experiences-section ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, .01fr);
    flex-direction: line;
    justify-content: end;
    gap: 15px;
}

.experiences-section li {
    background-color: #121619;
    padding: 30px;
    border-radius: 8px;
    font-size: 15px;
    color: #d1d1d1;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.experiences-section li:hover {
    background-color: #272727;
    transform: translateY(-5px);
    z-index: 1;
}

.experiences-section li i {
    font-size: 40px;
    margin-bottom: 10px;
}

.experiences-section li:hover i {
    color: #FF2E00;
}

/** Section Contato **/

.contact-section {
    text-align: center;
    background-color: #121619;
    padding: 50px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    max-width: 800px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.5);
}

.contact-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    padding: 20px;
}

.contact-section .container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    width: 100%;
}


.contact-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 30px;
}

.contact-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-icon {
    font-size: 25px;
    color: #FF2E00;
}

.contact-text {
    font-family: 'Raleway';
    font-size: 18px;
    padding-left: 20px;
}

.entreEmContato {
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btnContato {
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: #FF2E00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
    font-family: 'Raleway';
    white-space: nowrap;
    /* Evita quebra de linha */
}


.btnContato:hover {
    background-color: #b32100;
    transform: scale(1.05);
}

/** Footer **/

.footer-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #121619;
    color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
}

.sociais {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-align: center;
}

.h5Sociais {
    font-size: 16px;
    font-weight: 600;
    color: #f0f0f0;
    margin-bottom: 8px;
    text-transform: uppercase;
}

.sociais ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.sociais a {
    color: inherit;
    font-size: 28px;
    transition: transform 0.25s ease, color 0.25s ease, box-shadow 0.25s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
}

.sociais a:hover {
    color: #FF2E00;
    box-shadow: 0 4px 12px rgba(255, 119, 9, 0.3);
    transform: scale(1.15);
}

.codeBy {
    font-size: 14px;
    color: #888;
    margin-top: 15px;
    text-align: center;
}

/** Responsivo **/
@media only screen and (max-width: 768px) {
    .navbar {
        padding: 10px 15px;
    }

    .nav-links ul li a {
        font-size: 25px;
    }

    /** top **/

    .titulo {
        font-size: 40px;
        text-align: center;
    }

    .top {
        height: 65vh;
    }

    .imgPessoa {
        width: 500px;
    }

    .line {
        display: none;
    }

    .location-card {
        width: 150px;
        height: 50px;
        background-color: transparent;
        box-shadow: none;
    }

    .location-content {
        /* display: block; */
        border: 1px solid #FF2E00;
        padding: 10px;
        border-radius: 20px;
    }

    .location-content i {
        font-size: 12px;
        color: #121619;
        background-color: transparent;
        padding: 0;
        /* padding-bottom: 5px; */
        animation: swing 1.5s ease-in-out infinite;
    }

    .location-content p {
        font-size: 12px;
        color: #e4e4e4;
    }

    /** sobre mim **/

    .informacoes,
    .informacoes2 {
        font-size: 15px;
        margin: 10px;
    }

    .about {
        text-align: center;
        flex-direction: column;
        gap: 10px;
        max-width: 100%;
    }

    /** experiencias **/

    .experiences-section ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .experiences-section li {
        padding: 20px;
        font-size: 14px;
    }

    .experiences-section li i {
        font-size: 35px;
    }

    /** Contato **/

    .contact-section {
        padding: 40px 15px;
    }

    .contact-title {
        font-size: 28px;
        /* Título menor */
    }

    .contact-text {
        font-size: 15px;
        text-align: center;
        /* Centraliza texto no celular */
    }

    .contact-section .container {
        flex-direction: column;
        /* Itens em coluna no celular */
        gap: 15px;
    }

    .contact-info {
        flex-direction: column;
        /* Ícone acima do texto */
        text-align: center;
    }

    /** footer **/

    .footer-section {
        padding: 20px 15px;
        /* Reduz espaçamento lateral */
    }

    .h5Sociais {
        font-size: 14px;
    }

    .sociais ul {
        gap: 12px;
    }

    .sociais a {
        font-size: 22px;
        width: 30px;
        height: 30px;
    }

    .codeBy {
        font-size: 12px;
    }

}


@media only screen and (min-width: 768px) and (max-width: 959px) {

    .navbar {
        padding: 10px 15px;
    }

    .hamburger {
        --hamburger-size: 20px;
    }

    .nav-links ul li a {
        font-size: 25px;
    }

    /** top **/

    .titulo {
        font-size: 60px;
    }

    .top {
        height: 80vh;
    }

    .imgPessoa {
        width: 650px;
    }

    .line {
        display: none;
    }

    .location-content i {
        font-size: 16px;
        color: #888;
        background-color: transparent;
        padding: 0;
        /* padding-bottom: 5px; */
        animation: swing 1.5s ease-in-out infinite;
    }

    .location-content p {
        font-size: 16px;
        color: #e4e4e4;
    }

    /** Sobre mim **/ 

    .about-section {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }

    .informacoes,
    .informacoes2 {
        flex-direction: column; 
        text-align: left; 
        padding: 20px; 
        font-size: 20px; 
        margin-top: 10px; 
    }

    .informacoes i,
    .informacoes2 i {
        padding-right: 5px; 
    }

    .informacoes {
        font-size: 24px;
    }

    .informacoes2 {
        font-size: 18px; 
        margin-bottom: 15px; 
    }

    .seta {
        justify-content: center; 
        margin-top: 15px; 
    }

    .icone-seta {
        font-size: 20px; 
    }

    .about {
        flex-direction: column; 
        gap: 10px; 
        padding: 0 10px; 
    }

    /** Proetos recentes **/

    .projects-section {
        padding: 30px 10px; /* Reduz o padding para otimizar espaço */
        text-align: center; /* Mantém o texto centralizado */
    }

    .project-item {
        padding: 80px 20px; /* Reduz o padding interno */
        height: auto; /* Permite altura automática para melhor adaptação */
    }

    .project-title {
        font-size: 25px; /* Ajusta o tamanho da fonte */
    }

    .project-overlay {
        background-color: rgba(0, 0, 0, 0.4); /* Intensifica o fundo para tablets */
    }

    .project-image {
        max-width: 100%; /* Garante que a imagem se ajuste ao container */
        max-height: 150px; /* Reduz a altura máxima da imagem */
        border-radius: 8px; /* Ajusta a borda */
    }

    .view-button {
        width: 50px; /* Reduz o tamanho do botão */
        height: 50px; /* Reduz o tamanho do botão */
        font-size: 14px; /* Diminui o tamanho do texto */
    }

    .btnMais {
        font-size: 1rem; /* Reduz o tamanho do botão */
        padding: 10px 15px; /* Ajusta o padding */
    }

    .lugarBtn {
        margin-top: 40px; /* Reduz o espaçamento superior */
    }

    /** experiencias **/

    .experiences-section ul {
        grid-template-columns: repeat(3, 1fr);
    }

    .experiences-section h2 {
        font-size: 28px;
    }

    #description {
        font-size: 15px;
    }

    /** Contato **/

    .contact-title {
        font-size: 32px;
    }

    .contact-text {
        font-size: 16px;
    }

    .btnContato {
        font-size: 16px;
        padding: 10px 16px;
    }
}